<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/join.css' %}" />
        <title>Join group</title>
    </head>
    <body>
        <form action="/home/join_group/" method="post">
            {% csrf_token %}
            <label for="group_code">Gruppencode eingeben:</label>
            <input type="text" name="group_code" id="group_code" />
            <input type="submit" value="Gruppe beitreten" />
        </form>
    </body>
</html>
